<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Student Form</title>
  </head>
  <body>
    <form
      th:action="@{/student/processForm}"
      th:object="${student}"
      method="post"
    >
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" th:field="*{firstName}" />
      <br /><br />
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" th:field="*{lastName}" />
      <br /><br />
      <label for="country">Country:</label>
      <select th:field="*{country}">
        <option
          th:each="tempCountry : ${countries}"
          th:value="${tempCountry}"
          th:text="${tempCountry}"
        ></option>
      </select>
      <br /><br />
      <label for="language">Language:</label>
      <input
        th:field="*{language}"
        th:each="language : ${languages}"
        type="radio"
        th:value="${language}"
        th:text="${language}"
      />
      <br /><br />
      <label for="hobbies">Hobbies:</label>
      <input
        th:field="*{hobbies}"
        th:each="hobby : ${hobbies}"
        type="checkbox"
        th:value="${hobby}"
        th:text="${hobby}"
      />
      <br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
