<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Customer Form</title>
    <style>
      .error {
        color: red;
        font-size: 0.9em;
      }
    </style>
  </head>
  <body>
    <h1>Customer Form</h1>
    <form
      th:action="@{/customer/process}"
      th:object="${customer}"
      method="POST"
    >
      <div>
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" />
      </div>
      <br />
      <br />
      <div>
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" />
        <!-- Add error message -->
        <span
          th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"
        ></span>
      </div>
      <br />
      <br />
      <div>
        <label for="freePasses">Free Passes:</label>
        <input type="text" id="freePasses" th:field="*{freePasses}" />
        <!-- Add error message -->
        <span
          th:if="${#fields.hasErrors('freePasses')}"
          th:errors="*{freePasses}"
          class="error"
        ></span>
      </div>
      <br />
      <br />
      <div>
        <label for="postalCode">Postal Code:</label>
        <input type="text" id="postalCode" th:field="*{postalCode}" />
        <!-- Add error message -->
        <span
          th:if="${#fields.hasErrors('postalCode')}"
          th:errors="*{postalCode}"
          class="error"
        ></span>
      </div>
      <br />
      <br />
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html>
