<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Customer Process</title>
  </head>
  <body>
    <h1>Customer Processed</h1>
    <p>First Name: <span th:text="${customer.firstName}"></span></p>
    <p>Last Name: <span th:text="${customer.lastName}"></span></p>
    <p>Free Passes: <span th:text="${customer.freePasses}"></span></p>
    <p>Postal Code: <span th:text="${customer.postalCode}"></span></p>
    <p>Coupon Code: <span th:text="${customer.couponCode}"></span></p>
  </body>
</html>
